<ion-content>
    <ion-scroll class="ion-alpha-scroll" [ngStyle]="calculateScrollDimensions()" scrollX="false" scrollY="true">
        <ion-item-group *ngFor="let group of groupedContacts">
          <ion-item-divider id="scroll-letter-{{group.letter}}" light>{{group.letter}}</ion-item-divider>
          <ion-item *ngFor="let contact of group.contacts">{{contact.name}}</ion-item>
        </ion-item-group>
      </ion-scroll>
      <ul class="ion-alpha-sidebar" [ngStyle]="calculateDimensionsForSidebar()">
        <li *ngFor="let letter of firstLetterList" tappable (click)="navigateToLatter(letter)">
          <a id="sidebar-letter-{{letter}}">{{letter}}</a>
        </li>
      </ul>
</ion-content>
